xsd/camt.029.001.03.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--EBA CL SCI Schema, camt.029.001.03, May 28th 2017, Release November 2017 -->
<!--02/03/2017 tag TxInfAndSts+CxlRsnInf++Rsn+++Prtry) : restricted to the following code errors: NOAS, ARDT, AM04, AC04, NOOR -->
<!--17/02/2017 |Camt.029 |  o	Assgnmt->CreDtTm:  format aligned to ISO 8601 standard without negative date-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.029.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.029.001.03" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="SCTInstAccountIdentification4Choice">
		<xs:sequence>
			<xs:element name="IBAN" type="IBAN2007Identifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SCTInstCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="18"/>
			<xs:pattern value="[0-9]{0,15}([\.]([0-9]{0,2})){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SCTInstCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="SCTInstCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="SCTInstCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="SCTInstCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EUR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SCTInstBranchAndFinancialInstitutionIdentification4">
		<xs:sequence>
			<xs:element name="FinInstnId" type="SCTInstFinancialInstitutionIdentification7"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SCTInstCancellationIndividualStatus1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RJCR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CancellationStatusReason1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="PaymentCancellationRejection1Code"/>
				<!--02/03/2017 tag TxInfAndSts+CxlRsnInf++Rsn+++Prtry) : restricted to the following code errors: NOAS, ARDT, AM04, AC04, NOOR -->
				<xs:element name="Prtry" type="SCTInstPrtryRejection1Code"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstCancellationStatusReasonInformation1">
		<xs:sequence>
			<xs:element name="Orgtr" type="SCTInstPartyIdentification321"/>
			<xs:element name="Rsn" type="CancellationStatusReason1Choice"/>
			<xs:element name="AddtlInf" type="Max105Text" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CaseAssignment2">
		<xs:sequence>
			<xs:element name="Id" type="SCTInstId7"/>
			<xs:element name="Assgnr" type="SCTInstParty7Choice"/>
			<xs:element name="Assgne" type="SCTInstParty7Choice"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstCashAccount16">
		<xs:sequence>
			<xs:element name="Id" type="SCTInstAccountIdentification4Choice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CategoryPurpose1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditDebitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT"/>
			<xs:enumeration value="DBIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CreditorReferenceInformation2">
		<xs:sequence>
			<xs:element name="Tp" type="CreditorReferenceType2"/>
			<xs:element name="Ref" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="SCTInstDocumentType3Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SCTInstDocumentType3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SCOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CreditorReferenceType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate"/>
			<xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
			<xs:element name="CityOfBirth" type="Max35Text"/>
			<xs:element name="CtryOfBirth" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="RsltnOfInvstgtn" type="SCTInstResolutionOfInvestigationV03"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentAdjustment1">
		<xs:sequence>
			<xs:element name="Amt" type="SCTInstCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
			<xs:element name="Rsn" type="Max4Text" minOccurs="0"/>
			<xs:element name="AddtlInf" type="Max140Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DocumentType5Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MSIN"/>
			<xs:enumeration value="CNFA"/>
			<xs:enumeration value="DNFA"/>
			<xs:enumeration value="CINV"/>
			<xs:enumeration value="CREN"/>
			<xs:enumeration value="DEBN"/>
			<xs:enumeration value="HIRI"/>
			<xs:enumeration value="SBIN"/>
			<xs:enumeration value="CMCN"/>
			<xs:enumeration value="SOAC"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="BOLD"/>
			<xs:enumeration value="VCHR"/>
			<xs:enumeration value="AROI"/>
			<xs:enumeration value="TSUT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalCategoryPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalLocalInstrument1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPersonIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SCTInstExternalServiceLevel1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SCTInstFinancialInstitutionIdentification7">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IBAN2007Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date">
			<xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="[^-][\S]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SCTInstInvestigationExecutionConfirmation3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RJCR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SCTInstInvestigationStatus2Choice">
		<xs:sequence>
			<xs:element name="Conf" type="SCTInstInvestigationExecutionConfirmation3Code"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstLocalInstrument2Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
			<xs:element name="Prtry" type="SCTInstId8"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="Max105Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="105"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SCTInstOrganisationIdentification41">
		<xs:sequence>
			<xs:choice>
				<xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
				<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstOrganisationIdentification4">
		<xs:sequence>
			<xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SCTInstOrgnlMsgNmId">
		<xs:restriction base="xs:string">
			<xs:pattern value="pacs\.008[A-Za-z0-9\.]{0,27}"/>
			<xs:pattern value="PACS\.008[A-Za-z0-9\.]{0,27}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SCTInstId7">
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Za-z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|']){1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OriginalGroupInformation3">
		<xs:sequence>
			<xs:element name="OrgnlMsgId" type="SCTInstId7"/>
			<xs:element name="OrgnlMsgNmId" type="SCTInstOrgnlMsgNmId"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstOriginalTransactionReference13">
		<xs:sequence>
			<xs:element name="IntrBkSttlmAmt">
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="SCTInstCurrencyAndAmount">
							<xs:maxInclusive value="999999999.99"/>
							<xs:minInclusive value="0.01"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="IntrBkSttlmDt" type="ISODate"/>
			<xs:element name="SttlmInf" type="SCTInstSettlementInformation13"/>
			<xs:element name="PmtTpInf" type="SCTInstPaymentTypeInformation22"/>
			<xs:element name="RmtInf" type="SCTInstRemittanceInformation5" minOccurs="0"/>
			<xs:element name="UltmtDbtr" type="SCTInstPartyIdentification322" minOccurs="0"/>
			<xs:element name="Dbtr" type="SCTInstPartyIdentification32"/>
			<xs:element name="DbtrAcct" type="SCTInstCashAccount16"/>
			<xs:element name="DbtrAgt" type="SCTInstBranchAndFinancialInstitutionIdentification4"/>
			<xs:element name="CdtrAgt" type="SCTInstBranchAndFinancialInstitutionIdentification4"/>
			<xs:element name="Cdtr" type="SCTInstPartyIdentification32"/>
			<xs:element name="CdtrAcct" type="SCTInstCashAccount16"/>
			<xs:element name="UltmtCdtr" type="SCTInstPartyIdentification322" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstParty6Choice2">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="SCTInstOrganisationIdentification41"/>
				<xs:element name="PrvtId" type="SCTInstPersonIdentification5"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstParty6Choice">
		<xs:sequence>
			<xs:element name="OrgId" type="SCTInstOrganisationIdentification4"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstParty7Choice">
		<xs:sequence>
			<xs:element name="Agt" type="SCTInstBranchAndFinancialInstitutionIdentification4"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstPartyIdentification321">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Nm" type="Max70Text"/>
				<xs:element name="Id" type="SCTInstParty6Choice"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstPartyIdentification32">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text"/>
			<xs:element name="PstlAdr" type="SCTInstPostalAddress6" minOccurs="0"/>
			<xs:element name="Id" type="SCTInstParty6Choice2" minOccurs="0"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstPartyIdentification322">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="SCTInstPostalAddress6" minOccurs="0"/>
			<xs:element name="Id" type="SCTInstParty6Choice2" minOccurs="0"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PaymentCancellationRejection1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LEGL"/>
			<xs:enumeration value="CUST"/>
		</xs:restriction>
	</xs:simpleType>
	<!--02/03/2017 tag TxInfAndSts+CxlRsnInf++Rsn+++Prtry) : restricted to the following code errors: NOAS, ARDT, AM04, AC04, NOOR -->
	<xs:simpleType name="SCTInstPrtryRejection1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC04"/>
			<xs:enumeration value="AM04"/>
			<xs:enumeration value="ARDT"/>
			<xs:enumeration value="NOAS"/>
			<xs:enumeration value="NOOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SCTInstPaymentTransactionInformation33">
		<xs:sequence>
			<xs:element name="CxlStsId" type="SCTInstId7"/>
			<xs:element name="OrgnlGrpInf" type="OriginalGroupInformation3"/>
			<xs:element name="OrgnlInstrId" type="SCTInstId7" minOccurs="0"/>
			<xs:element name="OrgnlEndToEndId" type="SCTInstId7"/>
			<xs:element name="OrgnlTxId" type="SCTInstId7"/>
			<xs:element name="TxCxlSts" type="SCTInstCancellationIndividualStatus1Code"/>
			<xs:element name="CxlStsRsnInf" type="SCTInstCancellationStatusReasonInformation1"/>
			<xs:element name="Assgnr" type="SCTInstParty7Choice" minOccurs="0"/>
			<xs:element name="OrgnlTxRef" type="SCTInstOriginalTransactionReference13"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstPaymentTypeInformation22">
		<xs:sequence>
			<xs:element name="SvcLvl" type="SCTInstServiceLevel8Choice"/>
			<xs:element name="LclInstrm" type="SCTInstLocalInstrument2Choice"/>
			<xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstPersonIdentification5">
		<xs:sequence>
			<xs:choice>
				<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
				<xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstPostalAddress6">
		<xs:sequence>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentInformation3">
		<xs:sequence>
			<xs:element name="Tp" type="ReferredDocumentType2" minOccurs="0"/>
			<xs:element name="Nb" type="Max35Text" minOccurs="0"/>
			<xs:element name="RltdDt" type="ISODate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="DocumentType5Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="ReferredDocumentType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstRemittanceAmount1">
		<xs:sequence>
			<xs:element name="DuePyblAmt" type="SCTInstCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="DscntApldAmt" type="SCTInstCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="CdtNoteAmt" type="SCTInstCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="TaxAmt" type="SCTInstCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="AdjstmntAmtAndRsn" type="DocumentAdjustment1" minOccurs="0"/>
			<xs:element name="RmtdAmt" type="SCTInstCurrencyAndAmount" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstRemittanceInformation5">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Ustrd" type="Max140Text" maxOccurs="10"/>
				<xs:element name="Strd" type="SCTInstStructuredRemittanceInformation7" maxOccurs="10"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstResolutionOfInvestigationV03">
		<xs:sequence>
			<xs:element name="Assgnmt" type="CaseAssignment2"/>
			<xs:element name="Sts" type="SCTInstInvestigationStatus2Choice"/>
			<xs:element name="CxlDtls" type="SCTInstUnderlyingTransaction3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstServiceLevel8Choice">
		<xs:sequence>
			<xs:element name="Cd" type="SCTInstExternalServiceLevel1Code"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstSettlementInformation13">
		<xs:sequence>
			<xs:element name="SttlmMtd" type="SCTInstSettlementMethod1Code"/>
			<xs:element name="ClrSys" type="SCTInstClearingSystemIdentification1Choice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstClearingSystemIdentification1Choice">
		<xs:sequence>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SCTInstSettlementMethod1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CLRG"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SCTInstStructuredRemittanceInformation7">
		<xs:sequence>
			<xs:element name="RfrdDocInf" type="ReferredDocumentInformation3" minOccurs="0"/>
			<xs:element name="RfrdDocAmt" type="SCTInstRemittanceAmount1" minOccurs="0"/>
			<xs:element name="CdtrRefInf" type="CreditorReferenceInformation2" minOccurs="0"/>
			<xs:element name="Invcr" type="SCTInstPartyIdentification32" minOccurs="0"/>
			<xs:element name="Invcee" type="SCTInstPartyIdentification32" minOccurs="0"/>
			<xs:element name="AddtlRmtInf" type="Max140Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstUnderlyingTransaction3">
		<xs:sequence>
			<xs:element name="TxInfAndSts" type="SCTInstPaymentTransactionInformation33"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SCTInstId8">
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Za-z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|'|\s]){1,35}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
