xsd/camt.052.001.06.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--EBA CL SCI Schema, camt.052.001.06, May 28th 2017, Release November 2017 -->
<!--28/05/2017 tag Rpt+Bal++Amt: min value set to 0-->
<!--17/02/2017 tags GroupHeader->CreDtTm, AccountReport->CreDtTm:  format aligned to ISO 8601 standard without negative date-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.052.001.06" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.052.001.06" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountIdentification4Choice">
		<xs:sequence>
			<xs:element name="Othr" type="GenericAccountIdentification1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountInterest3">
		<xs:sequence>
			<xs:element name="Tp" type="InterestType1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Rate" type="Rate3" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="FrToDt" type="DateTimePeriodDetails" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Rsn" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Tax" type="TaxCharges2" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountReport19">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<!--17/02/2017 tags GroupHeader->CreDtTm, AccountReport->CreDtTm:  format aligned to ISO 8601 standard without negative date-->
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="Acct" type="CashAccount25"/>
			<xs:element name="Bal" type="CashBalance7"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountSchemeName1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ActiveCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="ActiveCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="13"/>
			<xs:totalDigits value="18"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
		<xs:simpleContent>
			<xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressType2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADDR"/>
			<xs:enumeration value="PBOX"/>
			<xs:enumeration value="HOME"/>
			<xs:enumeration value="BIZZ"/>
			<xs:enumeration value="MLTO"/>
			<xs:enumeration value="DLVY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AmountAndCurrencyExchange3">
		<xs:sequence>
			<xs:element name="InstdAmt" type="AmountAndCurrencyExchangeDetails3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TxAmt" type="AmountAndCurrencyExchangeDetails3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CntrValAmt" type="AmountAndCurrencyExchangeDetails3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AnncdPstngAmt" type="AmountAndCurrencyExchangeDetails3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PrtryAmt" type="AmountAndCurrencyExchangeDetails4" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountAndCurrencyExchangeDetails3">
		<xs:sequence>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CcyXchg" type="CurrencyExchange5" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountAndCurrencyExchangeDetails4">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CcyXchg" type="CurrencyExchange5" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountAndDirection35">
		<xs:sequence>
			<xs:element name="Amt" type="NonNegativeDecimalNumber"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountRangeBoundary1">
		<xs:sequence>
			<xs:element name="BdryAmt" type="ImpliedCurrencyAndAmount"/>
			<xs:element name="Incl" type="YesNoIndicator"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AttendanceContext1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ATTD"/>
			<xs:enumeration value="SATT"/>
			<xs:enumeration value="UATT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AuthenticationEntity1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ICCD"/>
			<xs:enumeration value="AGNT"/>
			<xs:enumeration value="MERC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AuthenticationMethod1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="UKNW"/>
			<xs:enumeration value="BYPS"/>
			<xs:enumeration value="NPIN"/>
			<xs:enumeration value="FPIN"/>
			<xs:enumeration value="CPSG"/>
			<xs:enumeration value="PPSG"/>
			<xs:enumeration value="MANU"/>
			<xs:enumeration value="MERC"/>
			<xs:enumeration value="SCRT"/>
			<xs:enumeration value="SNCT"/>
			<xs:enumeration value="SCNL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICFIIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BalanceSubType1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalBalanceSubType1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="BalanceType12">
		<xs:sequence>
			<xs:element name="CdOrPrtry">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="BalanceType5Choice">
							<xs:sequence>
								<xs:element name="Cd" type="BalanceType12Code"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BalanceType12Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INFO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BalanceType5Choice"/>
	<xs:complexType name="BankToCustomerAccountReportV06">
		<xs:sequence>
			<xs:element name="GrpHdr" type="GroupHeader58"/>
			<xs:element name="Rpt" minOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="AccountReport19"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankTransactionCodeStructure4">
		<xs:sequence>
			<xs:element name="Domn" type="BankTransactionCodeStructure5" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Prtry" type="ProprietaryBankTransactionCodeStructure1" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankTransactionCodeStructure5">
		<xs:sequence>
			<xs:element name="Cd" type="ExternalBankTransactionDomain1Code"/>
			<xs:element name="Fmly" type="BankTransactionCodeStructure6"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankTransactionCodeStructure6">
		<xs:sequence>
			<xs:element name="Cd" type="ExternalBankTransactionFamily1Code"/>
			<xs:element name="SubFmlyCd" type="ExternalBankTransactionSubFamily1Code"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BaseOneRate">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="10"/>
			<xs:totalDigits value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BatchInformation2">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PmtInfId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NbOfTxs" type="Max15NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TtlAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification5">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchData2">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CSCManagement1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PRST"/>
			<xs:enumeration value="BYPS"/>
			<xs:enumeration value="UNRD"/>
			<xs:enumeration value="NCSC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CardAggregated1">
		<xs:sequence>
			<xs:element name="AddtlSvc" type="CardPaymentServiceType2Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TxCtgy" type="ExternalCardTransactionCategory1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SaleRcncltnId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SeqNbRg" type="CardSequenceNumberRange1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TxDtRg" type="DateOrDateTimePeriodChoice" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CardDataReading1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TAGC"/>
			<xs:enumeration value="PHYS"/>
			<xs:enumeration value="BRCD"/>
			<xs:enumeration value="MGST"/>
			<xs:enumeration value="CICC"/>
			<xs:enumeration value="DFLE"/>
			<xs:enumeration value="CTLS"/>
			<xs:enumeration value="ECTL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CardEntry2">
		<xs:sequence>
			<xs:element name="Card" type="PaymentCard4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="POI" type="PointOfInteraction1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AggtdNtry" type="CardAggregated1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PrePdAcct" type="CashAccount24" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardIndividualTransaction2">
		<xs:sequence>
			<xs:element name="ICCRltdData" type="Max1025Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PmtCntxt" type="PaymentContext3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AddtlSvc" type="CardPaymentServiceType2Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TxCtgy" type="ExternalCardTransactionCategory1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SaleRcncltnId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SaleRefNb" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RePresntmntRsn" type="ExternalRePresentmentReason1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SeqNb" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TxId" type="TransactionIdentifier1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Pdct" type="Product2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VldtnDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VldtnSeqNb" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CardPaymentServiceType2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AGGR"/>
			<xs:enumeration value="DCCV"/>
			<xs:enumeration value="GRTT"/>
			<xs:enumeration value="INSP"/>
			<xs:enumeration value="LOYT"/>
			<xs:enumeration value="NRES"/>
			<xs:enumeration value="PUCO"/>
			<xs:enumeration value="RECP"/>
			<xs:enumeration value="SOAF"/>
			<xs:enumeration value="UNAF"/>
			<xs:enumeration value="VCAU"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CardSecurityInformation1">
		<xs:sequence>
			<xs:element name="CSCMgmt" type="CSCManagement1Code"/>
			<xs:element name="CSCVal" type="Min3Max4NumericText" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardSequenceNumberRange1">
		<xs:sequence>
			<xs:element name="FrstTx" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LastTx" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardTransaction2">
		<xs:sequence>
			<xs:element name="Card" type="PaymentCard4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="POI" type="PointOfInteraction1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Tx" type="CardTransaction2Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PrePdAcct" type="CashAccount24" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardTransaction2Choice">
		<xs:choice>
			<xs:element name="Aggtd" type="CardAggregated1"/>
			<xs:element name="Indv" type="CardIndividualTransaction2"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CardholderAuthentication2">
		<xs:sequence>
			<xs:element name="AuthntcnMtd" type="AuthenticationMethod1Code"/>
			<xs:element name="AuthntcnNtty" type="AuthenticationEntity1Code"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CardholderVerificationCapability1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MNSG"/>
			<xs:enumeration value="NPIN"/>
			<xs:enumeration value="FCPN"/>
			<xs:enumeration value="FEPN"/>
			<xs:enumeration value="FDSG"/>
			<xs:enumeration value="FBIO"/>
			<xs:enumeration value="MNVR"/>
			<xs:enumeration value="FBIG"/>
			<xs:enumeration value="APKI"/>
			<xs:enumeration value="PKIS"/>
			<xs:enumeration value="CHDT"/>
			<xs:enumeration value="SCEC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CashAccount24">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice"/>
			<xs:element name="Tp" type="CashAccountType2Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount25">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice"/>
			<xs:element name="Svcr" type="BranchAndFinancialInstitutionIdentification5" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccountType2Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalCashAccountType1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CashAvailability1">
		<xs:sequence>
			<xs:element name="Dt" type="CashAvailabilityDate1Choice"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAvailabilityDate1Choice">
		<xs:choice>
			<xs:element name="NbOfDays" type="Max15PlusSignedNumericText"/>
			<xs:element name="ActlDt" type="ISODate"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CashBalance7">
		<xs:sequence>
			<xs:element name="Tp" type="BalanceType12"/>
			<xs:element name="Amt">
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="SCTInstCurrencyAndAmount">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999.99"/>
						</xs:restriction>
						<!--28/05/2017 tag Rpt+Bal++Amt: min value set to 0-->
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="CdtDbtInd" type="CreditDebitCode"/>
			<xs:element name="Dt" type="DateAndDateTimeChoice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashDeposit1">
		<xs:sequence>
			<xs:element name="NoteDnmtn" type="ActiveCurrencyAndAmount"/>
			<xs:element name="NbOfNotes" type="Max15NumericText"/>
			<xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ChargeBearerType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DEBT"/>
			<xs:enumeration value="CRED"/>
			<xs:enumeration value="SHAR"/>
			<xs:enumeration value="SLEV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ChargeIncludedIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:complexType name="ChargeType3Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalChargeType1Code"/>
			<xs:element name="Prtry" type="GenericIdentification3"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Charges4">
		<xs:sequence>
			<xs:element name="TtlChrgsAndTaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Rcrd" type="ChargesRecord2" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChargesRecord2">
		<xs:sequence>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ChrgInclInd" type="ChargeIncludedIndicator" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Tp" type="ChargeType3Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Rate" type="PercentageRate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Br" type="ChargeBearerType1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Tax" type="TaxCharges2" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemIdentification2Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentification2">
		<xs:sequence>
			<xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MmbId" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactDetails2">
		<xs:sequence>
			<xs:element name="NmPrfx" type="NamePrefix1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PhneNb" type="PhoneNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MobNb" type="PhoneNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FaxNb" type="PhoneNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EmailAdr" type="Max2048Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CopyDuplicate1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CODU"/>
			<xs:enumeration value="COPY"/>
			<xs:enumeration value="DUPL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CorporateAction9">
		<xs:sequence>
			<xs:element name="EvtTp" type="Max35Text"/>
			<xs:element name="EvtId" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditDebitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT"/>
			<xs:enumeration value="DBIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CreditLine2">
		<xs:sequence>
			<xs:element name="Incl" type="TrueFalseIndicator"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceInformation2">
		<xs:sequence>
			<xs:element name="Tp" type="CreditorReferenceType2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Ref" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType1Choice">
		<xs:choice>
			<xs:element name="Cd" type="DocumentType3Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CurrencyAndAmountRange2">
		<xs:sequence>
			<xs:element name="Amt" type="ImpliedCurrencyAmountRangeChoice"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CurrencyExchange5">
		<xs:sequence>
			<xs:element name="SrcCcy" type="ActiveOrHistoricCurrencyCode"/>
			<xs:element name="TrgtCcy" type="ActiveOrHistoricCurrencyCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UnitCcy" type="ActiveOrHistoricCurrencyCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="XchgRate" type="BaseOneRate"/>
			<xs:element name="CtrctId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="QtnDt" type="ISODateTime" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndDateTimeChoice">
		<xs:sequence>
			<xs:element name="Dt" type="ISODate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate"/>
			<xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CityOfBirth" type="Max35Text"/>
			<xs:element name="CtryOfBirth" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateOrDateTimePeriodChoice">
		<xs:choice>
			<xs:element name="Dt" type="DatePeriodDetails"/>
			<xs:element name="DtTm" type="DateTimePeriodDetails"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DatePeriodDetails">
		<xs:sequence>
			<xs:element name="FrDt" type="ISODate"/>
			<xs:element name="ToDt" type="ISODate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateTimePeriodDetails">
		<xs:sequence>
			<xs:element name="FrDtTm" type="ISODateTime"/>
			<xs:element name="ToDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DecimalNumber">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="17"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DiscountAmountAndType1">
		<xs:sequence>
			<xs:element name="Tp" type="DiscountAmountType1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiscountAmountType1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalDiscountAmountType1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DisplayCapabilities1">
		<xs:sequence>
			<xs:element name="DispTp" type="UserInterface2Code"/>
			<xs:element name="NbOfLines" type="Max3NumericText"/>
			<xs:element name="LineWidth" type="Max3NumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="BkToCstmrAcctRpt" type="BankToCustomerAccountReportV06"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentAdjustment1">
		<xs:sequence>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Rsn" type="Max4Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AddtlInf" type="Max140Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentLineIdentification1">
		<xs:sequence>
			<xs:element name="Tp" type="DocumentLineType1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nb" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RltdDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentLineInformation1">
		<xs:sequence>
			<xs:element name="Id" type="DocumentLineIdentification1" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="Desc" type="Max2048Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Amt" type="RemittanceAmount3" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentLineType1">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="DocumentLineType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentLineType1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalDocumentLineType1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="DocumentType3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RADM"/>
			<xs:enumeration value="RPIN"/>
			<xs:enumeration value="FXDR"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="PUOR"/>
			<xs:enumeration value="SCOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DocumentType6Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MSIN"/>
			<xs:enumeration value="CNFA"/>
			<xs:enumeration value="DNFA"/>
			<xs:enumeration value="CINV"/>
			<xs:enumeration value="CREN"/>
			<xs:enumeration value="DEBN"/>
			<xs:enumeration value="HIRI"/>
			<xs:enumeration value="SBIN"/>
			<xs:enumeration value="CMCN"/>
			<xs:enumeration value="SOAC"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="BOLD"/>
			<xs:enumeration value="VCHR"/>
			<xs:enumeration value="AROI"/>
			<xs:enumeration value="TSUT"/>
			<xs:enumeration value="PUOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EntryDetails7">
		<xs:sequence>
			<xs:element name="Btch" type="BatchInformation2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TxDtls" type="EntryTransaction8" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EntryStatus2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BOOK"/>
			<xs:enumeration value="PDNG"/>
			<xs:enumeration value="INFO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EntryTransaction8">
		<xs:sequence>
			<xs:element name="Refs" type="TransactionReferences3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode"/>
			<xs:element name="AmtDtls" type="AmountAndCurrencyExchange3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Avlbty" type="CashAvailability1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="BkTxCd" type="BankTransactionCodeStructure4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Chrgs" type="Charges4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Intrst" type="TransactionInterest3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RltdPties" type="TransactionParties3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RltdAgts" type="TransactionAgents3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Purp" type="Purpose2Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RltdRmtInf" type="RemittanceLocation4" minOccurs="0" maxOccurs="10"/>
			<xs:element name="RmtInf" type="RemittanceInformation11" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RltdDts" type="TransactionDates2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RltdPric" type="TransactionPrice3Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RltdQties" type="TransactionQuantities2Choice" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="FinInstrmId" type="SecurityIdentification19" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Tax" type="TaxInformation3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RtrInf" type="PaymentReturnReason2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CorpActn" type="CorporateAction9" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SfkpgAcct" type="SecuritiesAccount19" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CshDpst" type="CashDeposit1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CardTx" type="CardTransaction2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AddtlTxInf" type="Max500Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SplmtryData" type="SupplementaryData1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Exact1NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Exact3NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Exact4AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalAccountIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalBalanceSubType1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalBankTransactionDomain1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalBankTransactionFamily1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalBankTransactionSubFamily1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalCardTransactionCategory1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalCashAccountType1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalChargeType1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalClearingSystemIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalDiscountAmountType1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalDocumentLineType1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalGarnishmentType1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPersonIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalRePresentmentReason1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalReportingSource1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalReturnReason1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalTaxAmountType1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalTechnicalInputChannel1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancialIdentificationSchemeName1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification8">
		<xs:sequence>
			<xs:element name="BICFI" type="BICFIIdentifier" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstrumentQuantityChoice">
		<xs:choice>
			<xs:element name="Unit" type="DecimalNumber"/>
			<xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
			<xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FromToAmountRange">
		<xs:sequence>
			<xs:element name="FrAmt" type="AmountRangeBoundary1"/>
			<xs:element name="ToAmt" type="AmountRangeBoundary1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Garnishment1">
		<xs:sequence>
			<xs:element name="Tp" type="GarnishmentType1"/>
			<xs:element name="Grnshee" type="PartyIdentification43" minOccurs="0" maxOccurs="1"/>
			<xs:element name="GrnshmtAdmstr" type="PartyIdentification43" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RefNb" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FmlyMdclInsrncInd" type="TrueFalseIndicator" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MplyeeTermntnInd" type="TrueFalseIndicator" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GarnishmentType1">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="GarnishmentType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GarnishmentType1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalGarnishmentType1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericFinancialIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericIdentification3">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericIdentification30">
		<xs:sequence>
			<xs:element name="Id" type="Exact4AlphaNumericText"/>
			<xs:element name="Issr" type="Max35Text"/>
			<xs:element name="SchmeNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericIdentification32">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="Tp" type="PartyType3Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="PartyType4Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ShrtNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupHeader58">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text"/>
			<!--17/02/2017 tags GroupHeader->CreDtTm, AccountReport->CreDtTm:  format aligned to ISO 8601 standard without negative date-->
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IBAN2007Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISINOct2015Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISO2ALanguageCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<!--17/02/2017 tags GroupHeader->CreDtTm, AccountReport->CreDtTm:  format aligned to ISO 8601 standard without negative date-->
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="[^-][\S]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISOYearMonth">
		<xs:restriction base="xs:gYearMonth"/>
	</xs:simpleType>
	<xs:complexType name="IdentificationSource3Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ImpliedCurrencyAmountRangeChoice">
		<xs:choice>
			<xs:element name="FrAmt" type="AmountRangeBoundary1"/>
			<xs:element name="ToAmt" type="AmountRangeBoundary1"/>
			<xs:element name="FrToAmt" type="FromToAmountRange"/>
			<xs:element name="EQAmt" type="ImpliedCurrencyAndAmount"/>
			<xs:element name="NEQAmt" type="ImpliedCurrencyAndAmount"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="ImpliedCurrencyAndAmount">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="InterestRecord1">
		<xs:sequence>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode"/>
			<xs:element name="Tp" type="InterestType1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Rate" type="Rate3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FrToDt" type="DateTimePeriodDetails" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Rsn" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Tax" type="TaxCharges2" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InterestType1Choice">
		<xs:choice>
			<xs:element name="Cd" type="InterestType1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="InterestType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INDY"/>
			<xs:enumeration value="OVRN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max1025Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1025"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max105Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="105"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max15NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max15PlusSignedNumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+]{0,1}[0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2048Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2048"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max350Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="350"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max3NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max500Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max5NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MessageIdentification2">
		<xs:sequence>
			<xs:element name="MsgNmId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MsgId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Min2Max3NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Min3Max4NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Min8Max28NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{8,28}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NameAndAddress10">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text"/>
			<xs:element name="Adr" type="PostalAddress6"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="NamePrefix1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOCT"/>
			<xs:enumeration value="MIST"/>
			<xs:enumeration value="MISS"/>
			<xs:enumeration value="MADM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NonNegativeDecimalNumber">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="17"/>
			<xs:totalDigits value="18"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="0"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NumberAndSumOfTransactions1">
		<xs:sequence>
			<xs:element name="NbOfNtries" type="Max15NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Sum" type="DecimalNumber" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NumberAndSumOfTransactions4">
		<xs:sequence>
			<xs:element name="NbOfNtries" type="Max15NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Sum" type="DecimalNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TtlNetNtry" type="AmountAndDirection35" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="OnLineCapability1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OFLN"/>
			<xs:enumeration value="ONLN"/>
			<xs:enumeration value="SMON"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganisationIdentification8">
		<xs:sequence>
			<xs:element name="AnyBIC" type="AnyBICIdentifier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OriginalAndCurrentQuantities1">
		<xs:sequence>
			<xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
			<xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginalBusinessQuery1">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text"/>
			<xs:element name="MsgNmId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CreDtTm" type="ISODateTime" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="Sfx" type="Max16Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Tp" type="IdentificationSource3Choice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="POIComponentType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SOFT"/>
			<xs:enumeration value="EMVK"/>
			<xs:enumeration value="EMVO"/>
			<xs:enumeration value="MRIT"/>
			<xs:enumeration value="CHIT"/>
			<xs:enumeration value="SECM"/>
			<xs:enumeration value="PEDV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Pagination">
		<xs:sequence>
			<xs:element name="PgNb" type="Max5NumericText"/>
			<xs:element name="LastPgInd" type="YesNoIndicator"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party11Choice">
		<xs:choice>
			<xs:element name="OrgId" type="OrganisationIdentification8"/>
			<xs:element name="PrvtId" type="PersonIdentification5"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PartyIdentification43">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Id" type="Party11Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CtctDtls" type="ContactDetails2" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PartyType3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OPOI"/>
			<xs:enumeration value="MERC"/>
			<xs:enumeration value="ACCP"/>
			<xs:enumeration value="ITAG"/>
			<xs:enumeration value="ACQR"/>
			<xs:enumeration value="CISS"/>
			<xs:enumeration value="DLIS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PartyType4Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MERC"/>
			<xs:enumeration value="ACCP"/>
			<xs:enumeration value="ITAG"/>
			<xs:enumeration value="ACQR"/>
			<xs:enumeration value="CISS"/>
			<xs:enumeration value="TAXH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PaymentCard4">
		<xs:sequence>
			<xs:element name="PlainCardData" type="PlainCardData1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CardCtryCd" type="Exact3NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CardBrnd" type="GenericIdentification1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AddtlCardData" type="Max70Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentContext3">
		<xs:sequence>
			<xs:element name="CardPres" type="TrueFalseIndicator" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CrdhldrPres" type="TrueFalseIndicator" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OnLineCntxt" type="TrueFalseIndicator" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AttndncCntxt" type="AttendanceContext1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TxEnvt" type="TransactionEnvironment1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TxChanl" type="TransactionChannel1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AttndntMsgCpbl" type="TrueFalseIndicator" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AttndntLang" type="ISO2ALanguageCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CardDataNtryMd" type="CardDataReading1Code"/>
			<xs:element name="FllbckInd" type="TrueFalseIndicator" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AuthntcnMtd" type="CardholderAuthentication2" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentReturnReason2">
		<xs:sequence>
			<xs:element name="OrgnlBkTxCd" type="BankTransactionCodeStructure4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Orgtr" type="PartyIdentification43" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Rsn" type="ReturnReason5Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AddtlInf" type="Max105Text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PercentageRate">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="10"/>
			<xs:totalDigits value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PersonIdentification5">
		<xs:sequence>
			<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="PhoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PlainCardData1">
		<xs:sequence>
			<xs:element name="PAN" type="Min8Max28NumericText"/>
			<xs:element name="CardSeqNb" type="Min2Max3NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FctvDt" type="ISOYearMonth" minOccurs="0" maxOccurs="1"/>
			<xs:element name="XpryDt" type="ISOYearMonth"/>
			<xs:element name="SvcCd" type="Exact3NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TrckData" type="TrackData1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CardSctyCd" type="CardSecurityInformation1" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PointOfInteraction1">
		<xs:sequence>
			<xs:element name="Id" type="GenericIdentification32"/>
			<xs:element name="SysNm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="GrpId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Cpblties" type="PointOfInteractionCapabilities1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Cmpnt" type="PointOfInteractionComponent1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PointOfInteractionCapabilities1">
		<xs:sequence>
			<xs:element name="CardRdngCpblties" type="CardDataReading1Code" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CrdhldrVrfctnCpblties" type="CardholderVerificationCapability1Code" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OnLineCpblties" type="OnLineCapability1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DispCpblties" type="DisplayCapabilities1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PrtLineWidth" type="Max3NumericText" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PointOfInteractionComponent1">
		<xs:sequence>
			<xs:element name="POICmpntTp" type="POIComponentType1Code"/>
			<xs:element name="ManfctrId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Mdl" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VrsnNb" type="Max16Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SrlNb" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ApprvlNb" type="Max70Text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostalAddress6">
		<xs:sequence>
			<xs:element name="AdrTp" type="AddressType2Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dept" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SubDept" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StrtNm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BldgNb" type="Max16Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PstCd" type="Max16Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TwnNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Price2">
		<xs:sequence>
			<xs:element name="Tp" type="YieldedOrValueType1Choice"/>
			<xs:element name="Val" type="PriceRateOrAmountChoice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PriceRateOrAmountChoice">
		<xs:choice>
			<xs:element name="Rate" type="PercentageRate"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="PriceValueType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DISC"/>
			<xs:enumeration value="PREM"/>
			<xs:enumeration value="PARV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Product2">
		<xs:sequence>
			<xs:element name="PdctCd" type="Max70Text"/>
			<xs:element name="UnitOfMeasr" type="UnitOfMeasure1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PdctQty" type="DecimalNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UnitPric" type="ImpliedCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PdctAmt" type="ImpliedCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaxTp" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AddtlPdctInf" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryAgent3">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text"/>
			<xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification5"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryBankTransactionCodeStructure1">
		<xs:sequence>
			<xs:element name="Cd" type="Max35Text"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryDate2">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text"/>
			<xs:element name="Dt" type="DateAndDateTimeChoice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryParty3">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text"/>
			<xs:element name="Pty" type="PartyIdentification43"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryPrice2">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text"/>
			<xs:element name="Pric" type="ActiveOrHistoricCurrencyAndAmount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryQuantity1">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text"/>
			<xs:element name="Qty" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryReference1">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text"/>
			<xs:element name="Ref" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Purpose2Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalPurpose1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Rate3">
		<xs:sequence>
			<xs:element name="Tp" type="RateType4Choice"/>
			<xs:element name="VldtyRg" type="CurrencyAndAmountRange2" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RateType4Choice">
		<xs:choice>
			<xs:element name="Pctg" type="PercentageRate"/>
			<xs:element name="Othr" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentInformation7">
		<xs:sequence>
			<xs:element name="Tp" type="ReferredDocumentType4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nb" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RltdDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LineDtls" type="DocumentLineInformation1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType3Choice">
		<xs:choice>
			<xs:element name="Cd" type="DocumentType6Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType4">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="ReferredDocumentType3Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceAmount2">
		<xs:sequence>
			<xs:element name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DscntApldAmt" type="DiscountAmountAndType1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaxAmt" type="TaxAmountAndType1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AdjstmntAmtAndRsn" type="DocumentAdjustment1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceAmount3">
		<xs:sequence>
			<xs:element name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DscntApldAmt" type="DiscountAmountAndType1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaxAmt" type="TaxAmountAndType1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AdjstmntAmtAndRsn" type="DocumentAdjustment1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceInformation11">
		<xs:sequence>
			<xs:element name="Ustrd" type="Max140Text" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Strd" type="StructuredRemittanceInformation13" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceLocation4">
		<xs:sequence>
			<xs:element name="RmtId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RmtLctnDtls" type="RemittanceLocationDetails1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceLocationDetails1">
		<xs:sequence>
			<xs:element name="Mtd" type="RemittanceLocationMethod2Code"/>
			<xs:element name="ElctrncAdr" type="Max2048Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PstlAdr" type="NameAndAddress10" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RemittanceLocationMethod2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FAXI"/>
			<xs:enumeration value="EDIC"/>
			<xs:enumeration value="URID"/>
			<xs:enumeration value="EMAL"/>
			<xs:enumeration value="POST"/>
			<xs:enumeration value="SMSM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ReportEntry8">
		<xs:sequence>
			<xs:element name="NtryRef" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode"/>
			<xs:element name="RvslInd" type="TrueFalseIndicator" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Sts" type="EntryStatus2Code"/>
			<xs:element name="BookgDt" type="DateAndDateTimeChoice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ValDt" type="DateAndDateTimeChoice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctSvcrRef" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Avlbty" type="CashAvailability1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="BkTxCd" type="BankTransactionCodeStructure4"/>
			<xs:element name="ComssnWvrInd" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AddtlInfInd" type="MessageIdentification2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AmtDtls" type="AmountAndCurrencyExchange3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Chrgs" type="Charges4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TechInptChanl" type="TechnicalInputChannel1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Intrst" type="TransactionInterest3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CardTx" type="CardEntry2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NtryDtls" type="EntryDetails7" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AddtlNtryInf" type="Max500Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReportingSource1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalReportingSource1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ReturnReason5Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalReturnReason1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SecuritiesAccount19">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="Tp" type="GenericIdentification30" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SecurityIdentification19">
		<xs:sequence>
			<xs:element name="ISIN" type="ISINOct2015Identifier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OthrId" type="OtherIdentification1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Desc" type="Max140Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StructuredRemittanceInformation13">
		<xs:sequence>
			<xs:element name="RfrdDocInf" type="ReferredDocumentInformation7" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RfrdDocAmt" type="RemittanceAmount2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CdtrRefInf" type="CreditorReferenceInformation2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Invcr" type="PartyIdentification43" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Invcee" type="PartyIdentification43" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaxRmt" type="TaxInformation4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="GrnshmtRmt" type="Garnishment1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AddtlRmtInf" type="Max140Text" minOccurs="0" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SupplementaryData1">
		<xs:sequence>
			<xs:element name="PlcAndNm" type="Max350Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SupplementaryDataEnvelope1">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxAmount1">
		<xs:sequence>
			<xs:element name="Rate" type="PercentageRate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TtlAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dtls" type="TaxRecordDetails1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxAmountAndType1">
		<xs:sequence>
			<xs:element name="Tp" type="TaxAmountType1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxAmountType1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalTaxAmountType1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TaxAuthorisation1">
		<xs:sequence>
			<xs:element name="Titl" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxCharges2">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Rate" type="PercentageRate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxInformation3">
		<xs:sequence>
			<xs:element name="Cdtr" type="TaxParty1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dbtr" type="TaxParty2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdmstnZn" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RefNb" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Mtd" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TtlTaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TtlTaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SeqNb" type="Number" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Rcrd" type="TaxRecord1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxInformation4">
		<xs:sequence>
			<xs:element name="Cdtr" type="TaxParty1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dbtr" type="TaxParty2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UltmtDbtr" type="TaxParty2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdmstnZone" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RefNb" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Mtd" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TtlTaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TtlTaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SeqNb" type="Number" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Rcrd" type="TaxRecord1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxParty1">
		<xs:sequence>
			<xs:element name="TaxId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RegnId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaxTp" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxParty2">
		<xs:sequence>
			<xs:element name="TaxId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RegnId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaxTp" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Authstn" type="TaxAuthorisation1" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxPeriod1">
		<xs:sequence>
			<xs:element name="Yr" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Tp" type="TaxRecordPeriod1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FrToDt" type="DatePeriodDetails" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxRecord1">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Ctgy" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CtgyDtls" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DbtrSts" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CertId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FrmsCd" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Prd" type="TaxPeriod1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaxAmt" type="TaxAmount1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AddtlInf" type="Max140Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxRecordDetails1">
		<xs:sequence>
			<xs:element name="Prd" type="TaxPeriod1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TaxRecordPeriod1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MM01"/>
			<xs:enumeration value="MM02"/>
			<xs:enumeration value="MM03"/>
			<xs:enumeration value="MM04"/>
			<xs:enumeration value="MM05"/>
			<xs:enumeration value="MM06"/>
			<xs:enumeration value="MM07"/>
			<xs:enumeration value="MM08"/>
			<xs:enumeration value="MM09"/>
			<xs:enumeration value="MM10"/>
			<xs:enumeration value="MM11"/>
			<xs:enumeration value="MM12"/>
			<xs:enumeration value="QTR1"/>
			<xs:enumeration value="QTR2"/>
			<xs:enumeration value="QTR3"/>
			<xs:enumeration value="QTR4"/>
			<xs:enumeration value="HLF1"/>
			<xs:enumeration value="HLF2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TechnicalInputChannel1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalTechnicalInputChannel1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TotalTransactions5">
		<xs:sequence>
			<xs:element name="TtlNtries" type="NumberAndSumOfTransactions4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TtlCdtNtries" type="NumberAndSumOfTransactions1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TtlDbtNtries" type="NumberAndSumOfTransactions1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TtlNtriesPerBkTxCd" type="TotalsPerBankTransactionCode4" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TotalsPerBankTransactionCode4">
		<xs:sequence>
			<xs:element name="NbOfNtries" type="Max15NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Sum" type="DecimalNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TtlNetNtry" type="AmountAndDirection35" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FcstInd" type="TrueFalseIndicator" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BkTxCd" type="BankTransactionCodeStructure4"/>
			<xs:element name="Avlbty" type="CashAvailability1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrackData1">
		<xs:sequence>
			<xs:element name="TrckNb" type="Exact1NumericText" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TrckVal" type="Max140Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionAgents3">
		<xs:sequence>
			<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IntrmyAgt1" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IntrmyAgt2" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IntrmyAgt3" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RcvgAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DlvrgAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IssgAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SttlmPlc" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Prtry" type="ProprietaryAgent3" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TransactionChannel1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MAIL"/>
			<xs:enumeration value="TLPH"/>
			<xs:enumeration value="ECOM"/>
			<xs:enumeration value="TVPY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TransactionDates2">
		<xs:sequence>
			<xs:element name="AccptncDtTm" type="ISODateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TradActvtyCtrctlSttlmDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TradDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StartDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EndDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TxDtTm" type="ISODateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Prtry" type="ProprietaryDate2" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TransactionEnvironment1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MERC"/>
			<xs:enumeration value="PRIV"/>
			<xs:enumeration value="PUBL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TransactionIdentifier1">
		<xs:sequence>
			<xs:element name="TxDtTm" type="ISODateTime"/>
			<xs:element name="TxRef" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionInterest3">
		<xs:sequence>
			<xs:element name="TtlIntrstAndTaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Rcrd" type="InterestRecord1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionParties3">
		<xs:sequence>
			<xs:element name="InitgPty" type="PartyIdentification43" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dbtr" type="PartyIdentification43" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DbtrAcct" type="CashAccount24" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UltmtDbtr" type="PartyIdentification43" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Cdtr" type="PartyIdentification43" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CdtrAcct" type="CashAccount24" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UltmtCdtr" type="PartyIdentification43" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TradgPty" type="PartyIdentification43" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Prtry" type="ProprietaryParty3" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionPrice3Choice">
		<xs:choice>
			<xs:element name="DealPric" type="Price2"/>
			<xs:element name="Prtry" type="ProprietaryPrice2" minOccurs="1" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TransactionQuantities2Choice">
		<xs:choice>
			<xs:element name="Qty" type="FinancialInstrumentQuantityChoice"/>
			<xs:element name="OrgnlAndCurFaceAmt" type="OriginalAndCurrentQuantities1"/>
			<xs:element name="Prtry" type="ProprietaryQuantity1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TransactionReferences3">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctSvcrRef" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PmtInfId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InstrId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EndToEndId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TxId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MndtId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ChqNb" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ClrSysRef" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctOwnrTxId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctSvcrTxId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MktInfrstrctrTxId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PrcgId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Prtry" type="ProprietaryReference1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TrueFalseIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="UnitOfMeasure1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PIEC"/>
			<xs:enumeration value="TONS"/>
			<xs:enumeration value="FOOT"/>
			<xs:enumeration value="GBGA"/>
			<xs:enumeration value="USGA"/>
			<xs:enumeration value="GRAM"/>
			<xs:enumeration value="INCH"/>
			<xs:enumeration value="KILO"/>
			<xs:enumeration value="PUND"/>
			<xs:enumeration value="METR"/>
			<xs:enumeration value="CMET"/>
			<xs:enumeration value="MMET"/>
			<xs:enumeration value="LITR"/>
			<xs:enumeration value="CELI"/>
			<xs:enumeration value="MILI"/>
			<xs:enumeration value="GBOU"/>
			<xs:enumeration value="USOU"/>
			<xs:enumeration value="GBQA"/>
			<xs:enumeration value="USQA"/>
			<xs:enumeration value="GBPI"/>
			<xs:enumeration value="USPI"/>
			<xs:enumeration value="MILE"/>
			<xs:enumeration value="KMET"/>
			<xs:enumeration value="YARD"/>
			<xs:enumeration value="SQKI"/>
			<xs:enumeration value="HECT"/>
			<xs:enumeration value="ARES"/>
			<xs:enumeration value="SMET"/>
			<xs:enumeration value="SCMT"/>
			<xs:enumeration value="SMIL"/>
			<xs:enumeration value="SQMI"/>
			<xs:enumeration value="SQYA"/>
			<xs:enumeration value="SQFO"/>
			<xs:enumeration value="SQIN"/>
			<xs:enumeration value="ACRE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UserInterface2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MDSP"/>
			<xs:enumeration value="CDSP"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YesNoIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:complexType name="YieldedOrValueType1Choice">
		<xs:choice>
			<xs:element name="Yldd" type="YesNoIndicator"/>
			<xs:element name="ValTp" type="PriceValueType1Code"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="SCTInstCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="18"/>
			<xs:pattern value="[0-9]{0,15}([\.]([0-9]{0,2})){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SCTInstCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="SCTInstCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="SCTInstCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="SCTInstCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EUR"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
