xsd/pacs.008.001.08.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--EBA CL SCI Schema, pacs.008.001.02, May 28th 2017, Release November 2017 -->
<!--08/05/2017 deleted restriction “IPS” from GrpHdr+SttlmInf++ClrSys+++Prtry tag-->
<!--17/02/2017 tags GroupHeader+CreDtTm: format aligned to ISO 8601 standard without negative date-->
<!--13/02/2017 tag AccptncDtTm: added restriction to the following formats (YYYY-MM-DDThh:mm:ss.mmm+hh:mm; YYYY-MM-DDThh:mm:ss.mmm-hh:mm , YYYY-MM-DDThh:mm:ss.mmmZ)-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.08" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.08" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="SCTInstAccountIdentification4Choice">
		<xs:sequence>
			<xs:element name="IBAN" type="IBAN2007Identifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SCTInstCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="18"/>
			<xs:pattern value="[0-9]{0,15}([\.]([0-9]{0,2})){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SCTInstCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="SCTInstCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="SCTInstCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SCTInstCurrencyAndAmount1">
		<xs:simpleContent>
			<xs:extension base="SCTInstCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="SCTInstCurrencyCode1" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="SCTInstCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EUR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SCTInstCurrencyCode1">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BaseOneRate">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="10"/>
			<xs:totalDigits value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SCTInstBranchAndFinancialInstitutionIdentification4">
		<xs:sequence>
			<xs:element name="FinInstnId" type="SCTInstFinancialInstitutionIdentification7"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstCashAccount161">
		<xs:sequence>
			<xs:element name="Id" type="SCTInstAccountIdentification4Choice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CategoryPurpose1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SCTInstChargeBearerType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SLEV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SCTInstChargesInformation5">
		<xs:sequence>
			<xs:element name="Amt" type="SCTInstCurrencyAndAmount"/>
			<xs:element name="Pty" type="SCTInstBranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstClearingSystemIdentification3Choice">
		<xs:sequence>
			<xs:element name="Prtry" type="SCTInstId7"/>
		</xs:sequence>
		<!--08/05/2017 deleted restriction “IPS” from GrpHdr+SttlmInf++ClrSys+++Prtry tag-->
	</xs:complexType>
	<xs:complexType name="ContactDetails2">
		<xs:sequence>
			<xs:element name="NmPrfx" type="NamePrefix1Code" minOccurs="0"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="EmailAdr" type="Max2048Text" minOccurs="0"/>
			<xs:element name="Othr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditDebitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT"/>
			<xs:enumeration value="DBIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CreditTransferTransactionInformation11">
		<xs:sequence>
			<xs:element name="PmtId">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="SCTInstPaymentIdentification3">
							<xs:sequence>
								<xs:element name="InstrId" type="SCTInstId7" minOccurs="0"/>
								<xs:element name="EndToEndId" type="SCTInstId7"/>
								<xs:element name="TxId" type="SCTInstId7"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="IntrBkSttlmAmt">
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="SCTInstCurrencyAndAmount">
							<xs:minInclusive value="0.01"/>
							<xs:maxInclusive value="999999999.99"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<!--13/02/2017 tag AccptncDtTm: added restriction to the following formats (YYYY-MM-DDThh:mm:ss.mmm+hh:mm; YYYY-MM-DDThh:mm:ss.mmm-hh:mm , YYYY-MM-DDThh:mm:ss.mmmZ)-->
			<xs:element name="AccptncDtTm" type="SCTInstISODateTime"/>
			<xs:element name="InstdAmt" type="SCTInstCurrencyAndAmount1" minOccurs="0"/>
			<xs:element name="XchgRate" type="BaseOneRate" minOccurs="0"/>
			<xs:element name="ChrgBr" type="SCTInstChargeBearerType1Code"/>
			<xs:element name="ChrgsInf" type="SCTInstChargesInformation5" minOccurs="0"/>
			<xs:element name="PrvsInstgAgt" type="SCTInstBranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="UltmtDbtr" type="SCTInstPartyIdentification321" minOccurs="0"/>
			<xs:element name="Dbtr" type="SCTInstPartyIdentification322"/>
			<xs:element name="DbtrAcct" type="SCTInstCashAccount161"/>
			<xs:element name="DbtrAgt" type="SCTInstBranchAndFinancialInstitutionIdentification4"/>
			<xs:element name="CdtrAgt" type="SCTInstBranchAndFinancialInstitutionIdentification4"/>
			<xs:element name="Cdtr" type="SCTInstPartyIdentification322"/>
			<xs:element name="CdtrAcct" type="SCTInstCashAccount161"/>
			<xs:element name="UltmtCdtr" type="SCTInstPartyIdentification321" minOccurs="0"/>
			<xs:element name="InstrForCdtrAgt" type="InstructionForCreditorAgent1" minOccurs="0"/>
			<xs:element name="Purp" type="Purpose2Choice" minOccurs="0"/>
			<xs:element name="RgltryRptg" type="SCTInstRegulatoryReporting3" minOccurs="0"/>
			<xs:element name="RltdRmtInf" type="RemittanceLocation2" minOccurs="0"/>
			<xs:element name="RmtInf" type="SCTInstRemittanceInformation5" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstCreditorReferenceInformation2">
		<xs:sequence>
			<xs:element name="Tp" type="SCTInstCreditorReferenceType2"/>
			<xs:element name="Ref" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstCreditorReferenceType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="SCTInstDocumentType3Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstCreditorReferenceType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="SCTInstCreditorReferenceType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate"/>
			<xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
			<xs:element name="CityOfBirth" type="Max35Text"/>
			<xs:element name="CtryOfBirth" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="FIToFICstmrCdtTrf" type="FIToFICustomerCreditTransferV02"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstDocumentAdjustment1">
		<xs:sequence>
			<xs:element name="Amt" type="SCTInstCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
			<xs:element name="Rsn" type="Max4Text" minOccurs="0"/>
			<xs:element name="AddtlInf" type="Max140Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SCTInstDocumentType3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SCOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DocumentType5Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MSIN"/>
			<xs:enumeration value="CNFA"/>
			<xs:enumeration value="DNFA"/>
			<xs:enumeration value="CINV"/>
			<xs:enumeration value="CREN"/>
			<xs:enumeration value="DEBN"/>
			<xs:enumeration value="HIRI"/>
			<xs:enumeration value="SBIN"/>
			<xs:enumeration value="CMCN"/>
			<xs:enumeration value="SOAC"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="BOLD"/>
			<xs:enumeration value="VCHR"/>
			<xs:enumeration value="AROI"/>
			<xs:enumeration value="TSUT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalCategoryPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalLocalInstrument1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPersonIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SCTInstExternalServiceLevel1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FIToFICustomerCreditTransferV02">
		<xs:sequence>
			<xs:element name="GrpHdr" type="SCTInstGroupHeader33"/>
			<xs:element name="CdtTrfTxInf" type="CreditTransferTransactionInformation11"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstFinancialInstitutionIdentification7">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstGroupHeader33">
		<xs:sequence>
			<xs:element name="MsgId" type="SCTInstId7"/>
			<!--17/02/2017 tags GroupHeader->CreDtTm: format aligned to ISO 8601 standard without negative date-->
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="NbOfTxs" type="Max15NumericText"/>
			<xs:element name="TtlIntrBkSttlmAmt">
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="SCTInstCurrencyAndAmount">
							<xs:minInclusive value="0.01"/>
							<xs:maxInclusive value="999999999.99"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="IntrBkSttlmDt" type="ISODate"/>
			<xs:element name="SttlmInf" type="SCTInstSettlementInformation13"/>
			<xs:element name="PmtTpInf" type="SCTInstPaymentTypeInformation21"/>
			<xs:element name="InstgAgt" type="SCTInstBranchAndFinancialInstitutionIdentification4"/>
			<xs:element name="InstdAgt" type="SCTInstBranchAndFinancialInstitutionIdentification4"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IBAN2007Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date">
			<xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--17/02/2017 tags GroupHeader->CreDtTm: format aligned to ISO 8601 standard without negative date-->
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="[^-][\S]*"/>
		</xs:restriction>
	</xs:simpleType>
	<!--13/02/2017 tag AccptncDtTm: added restriction to the following formats (YYYY-MM-DDThh:mm:ss.mmm+hh:mm; YYYY-MM-DDThh:mm:ss.mmm-hh:mm , YYYY-MM-DDThh:mm:ss.mmmZ)-->
	<xs:simpleType name="SCTInstISODateTime">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d{4}-\d\d-\d\dT\d\d:\d\d:\d\d.\d\d\d[+\-]\d\d:\d\d"/>
			<xs:pattern value="\d{4}-\d\d-\d\dT\d\d:\d\d:\d\d.\d\d\dZ"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Instruction3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CHQB"/>
			<xs:enumeration value="HOLD"/>
			<xs:enumeration value="PHOB"/>
			<xs:enumeration value="TELB"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="InstructionForCreditorAgent1">
		<xs:sequence>
			<xs:element name="Cd" type="Instruction3Code" minOccurs="0"/>
			<xs:element name="InstrInf" type="Max140Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstLocalInstrument2Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
			<xs:element name="Prtry" type="SCTInstId8"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="Max10Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max15NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2048Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2048"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NameAndAddress10">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text"/>
			<xs:element name="Adr" type="SCTInstPostalAddress6"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="NamePrefix1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOCT"/>
			<xs:enumeration value="MIST"/>
			<xs:enumeration value="MISS"/>
			<xs:enumeration value="MADM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SCTInstOrganisationIdentification4">
		<xs:sequence>
			<xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstParty7Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="SCTInstOrganisationIdentification4"/>
				<xs:element name="PrvtId" type="SCTInstPersonIdentification5"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstOrganisationIdentification41">
		<xs:sequence>
			<xs:choice>
				<xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
				<xs:element name="Othr" type="GenericOrganisationIdentification1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstParty6Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="SCTInstOrganisationIdentification41"/>
				<xs:element name="PrvtId" type="SCTInstPersonIdentification51"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstPartyIdentification321">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="SCTInstPostalAddress6" minOccurs="0"/>
			<xs:element name="Id" type="SCTInstParty6Choice" minOccurs="0"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstPartyIdentification322">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text"/>
			<xs:element name="PstlAdr" type="SCTInstPostalAddress6" minOccurs="0"/>
			<xs:element name="Id" type="SCTInstParty6Choice" minOccurs="0"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstPartyIdentification32">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="SCTInstPostalAddress6" minOccurs="0"/>
			<xs:element name="Id" type="SCTInstParty7Choice" minOccurs="0"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
			<xs:element name="CtctDtls" type="ContactDetails2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstPaymentIdentification3"/>
	<xs:complexType name="SCTInstPaymentTypeInformation21">
		<xs:sequence>
			<xs:element name="SvcLvl" type="SCTInstServiceLevel8Choice"/>
			<xs:element name="LclInstrm" type="SCTInstLocalInstrument2Choice"/>
			<xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstPersonIdentification51">
		<xs:sequence>
			<xs:choice>
				<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth"/>
				<xs:element name="Othr" type="GenericPersonIdentification1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstPersonIdentification5">
		<xs:sequence>
			<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
			<xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PhoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SCTInstPostalAddress6">
		<xs:sequence>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Purpose2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalPurpose1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentInformation3">
		<xs:sequence>
			<xs:element name="Tp" type="ReferredDocumentType2" minOccurs="0"/>
			<xs:element name="Nb" type="Max35Text" minOccurs="0"/>
			<xs:element name="RltdDt" type="ISODate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="DocumentType5Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="ReferredDocumentType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegulatoryAuthority2">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstRegulatoryReporting3">
		<xs:sequence>
			<xs:element name="DbtCdtRptgInd" type="RegulatoryReportingType1Code" minOccurs="0"/>
			<xs:element name="Authrty" type="RegulatoryAuthority2" minOccurs="0"/>
			<xs:element name="Dtls" type="SCTInstStructuredRegulatoryReporting3" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RegulatoryReportingType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRED"/>
			<xs:enumeration value="DEBT"/>
			<xs:enumeration value="BOTH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SCTInstRemittanceAmount1">
		<xs:sequence>
			<xs:element name="DuePyblAmt" type="SCTInstCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="DscntApldAmt" type="SCTInstCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="CdtNoteAmt" type="SCTInstCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="TaxAmt" type="SCTInstCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="AdjstmntAmtAndRsn" type="SCTInstDocumentAdjustment1" minOccurs="0"/>
			<xs:element name="RmtdAmt" type="SCTInstCurrencyAndAmount" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstRemittanceInformation5">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Ustrd" type="Max140Text" maxOccurs="10"/>
				<xs:element name="Strd" type="SCTInstStructuredRemittanceInformation7" maxOccurs="10"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceLocation2">
		<xs:sequence>
			<xs:element name="RmtId" type="Max35Text" minOccurs="0"/>
			<xs:element name="RmtLctnMtd" type="RemittanceLocationMethod2Code" minOccurs="0"/>
			<xs:element name="RmtLctnElctrncAdr" type="Max2048Text" minOccurs="0"/>
			<xs:element name="RmtLctnPstlAdr" type="NameAndAddress10" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RemittanceLocationMethod2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FAXI"/>
			<xs:enumeration value="EDIC"/>
			<xs:enumeration value="URID"/>
			<xs:enumeration value="EMAL"/>
			<xs:enumeration value="POST"/>
			<xs:enumeration value="SMSM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SCTInstServiceLevel8Choice">
		<xs:sequence>
			<xs:element name="Cd">
				<xs:simpleType>
					<xs:restriction base="SCTInstExternalServiceLevel1Code"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstSettlementInformation13">
		<xs:sequence>
			<xs:element name="SttlmMtd" type="SCTInstSettlementMethod1Code"/>
			<xs:element name="SttlmAcct" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="SCTInstCashAccount16">
							<xs:sequence>
								<xs:element name="Id" type="AccountIdentification4Choice"/>
								<!--
								<xs:element name="Tp" type="CashAccountType2" minOccurs="0" maxOccurs="0"/>
								<xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0" maxOccurs="0"/>
								<xs:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="0"/>
-->
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClrSys" type="SCTInstClearingSystemIdentification3Choice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstCashAccount16"/>
	<xs:complexType name="AccountIdentification4Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="IBAN" type="IBAN2007Identifier"/>
				<xs:element name="Othr" type="GenericAccountIdentification1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text"/>
			<xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AccountSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExternalAccountIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SCTInstSettlementMethod1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CLRG"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SCTInstStructuredRegulatoryReporting3">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text" minOccurs="0"/>
			<xs:element name="Dt" type="ISODate" minOccurs="0"/>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
			<xs:element name="Cd" type="Max10Text" minOccurs="0"/>
			<xs:element name="Amt" type="SCTInstCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="Inf" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SCTInstStructuredRemittanceInformation7">
		<xs:sequence>
			<xs:element name="RfrdDocInf" type="ReferredDocumentInformation3" minOccurs="0"/>
			<xs:element name="RfrdDocAmt" type="SCTInstRemittanceAmount1" minOccurs="0"/>
			<xs:element name="CdtrRefInf" type="SCTInstCreditorReferenceInformation2" minOccurs="0"/>
			<xs:element name="Invcr" type="SCTInstPartyIdentification32" minOccurs="0"/>
			<xs:element name="Invcee" type="SCTInstPartyIdentification32" minOccurs="0"/>
			<xs:element name="AddtlRmtInf" type="Max140Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SCTInstId7">
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Za-z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|']){1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SCTInstId8">
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Za-z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|'|\s]){1,35}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
